@import './CardStyles.module.scss';

// Inherit base card styles
.card {
  @extend .card;
}

.cardHeader {
  @extend .cardHeader;
}

.cardIcon {
  @extend .cardIcon;
}

.cardContent {
  @extend .cardContent;
}

// Grid layout for links
.linkGrid {
  @extend .gridLayout;
}

.linkItem {
  @extend .gridItem;
}

.linkIcon {
  @extend .gridItemIcon;
}

.linkTitle {
  @extend .gridItemLabel;
}
