@import './CardStyles.module.scss';

// Inherit base card styles
.card {
  @extend .card;
}

.cardHeader {
  @extend .cardHeader;
}

.cardIcon {
  @extend .cardIcon;
}

.cardContent {
  @extend .cardContent;
}

// State containers
.loadingContainer,
.errorContainer,
.emptyState {
  @extend .stateContainer;
}

.errorIcon {
  @extend .stateIcon;
  color: $color-error;
}

.emptyIcon {
  @extend .stateIcon;
}

// Event list
.eventList {
  @extend .itemList;
}

.eventItem {
  @extend .item;
}

.currentEvent {
  @extend .itemHighlight;
  background: $color-brand-light;

  &:hover {
    background: darken($color-brand-light, 2%);
  }
}

.eventTime {
  @extend .timeBlock;
}

.allDay {
  @extend .timeSub;
  font-style: italic;
}

.timeSeparator {
  display: none;
}

.eventDetails {
  @extend .itemContent;
}

.eventSubject {
  @extend .itemTitle;
}

.eventLocation {
  @extend .itemSubtitle;
  display: flex;
  align-items: center;
  gap: 4px;

  i {
    font-size: 10px;
    opacity: 0.7;
  }
}

.joinButton {
  @extend .actionButton;
}
